.Connect {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2222;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  display: flex;
  transform: translateZ(0);
  will-change: opacity;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  top: 0;
}
.Connect .closeModal {
  transform: none;
  width: 20px;
  height: 20px;
  justify-content: center;
  border-radius: 99999px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  will-change: transform;
}
.Connect .closeModal:hover {
  transform: scale(1.1);
}
.Connect .modalMenu {
  position: relative;
  opacity: 1;
  transform: none;
  outline: none;
  align-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(146, 175, 237, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(146, 175, 237, 0.25);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  top: 60px;
  -webkit-backdrop-filter: contrast(0.5);
          backdrop-filter: contrast(0.5);
  border-radius: 16px;
  width: min(90%, 350px);
}
.Connect .modalMenu .modalInternal {
  padding: 24px;
  width: 100%;
}
.Connect .modalMenu .modalInternal .modalHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Connect .modalMenu .modalInternal .modalHeader h3 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.5px;
}
.Connect .modalMenu .modalInternal .tutorial {
  color: #000;
  opacity: 0.8;
  margin-bottom: 10px;
  line-height: 1.5715;
  word-wrap: break-word;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.35px;
}
.Connect .modalMenu .modalInternal .tutorial:hover {
  color: blue;
  opacity: 0.7;
}
.Connect .modalMenu .modalInternal .wallets {
  margin-bottom: 22px;
}
.Connect .modalMenu .modalInternal .wallets p {
  text-align: center;
}
.Connect .modalMenu .modalInternal .wallets .wallet {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  margin-top: 12px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  will-change: transform;
  transition: all 500ms;
}
.Connect .modalMenu .modalInternal .wallets .wallet:hover {
  transform: scale(1.05);
}
.Connect .modalMenu .modalInternal .wallets .wallet span:nth-child(1) {
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 0px 2px;
}

.Disconnect {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2222;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  display: flex;
  transform: translateZ(0);
  will-change: opacity;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  perspective: 1000px;
  align-items: center;
  justify-content: center;
  top: 0;
}
.Disconnect .smallBoard {
  position: relative;
  opacity: 1;
  transform: none;
  outline: none;
  align-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(146, 175, 237, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(146, 175, 237, 0.25);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 24px;
  background: #f4f4f4;
  width: min(300px, 100%);
}
.Disconnect .smallBoard .userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.Disconnect .smallBoard .userDetails canvas {
  width: 74px !important;
  height: 74px !important;
  margin-bottom: 0.75rem;
}
.Disconnect .smallBoard .userDetails h1 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0.1rem;
}
.Disconnect .smallBoard .userDetails .balance {
  display: flex;
  color: rgba(60, 66, 66, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.Disconnect .smallBoard .bottom {
  margin: 1rem 2px 2px;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.Disconnect .smallBoard .bottom .icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  border-radius: 0.75rem;
  padding: 0.5rem;
  position: relative;
  transition: 0.125s ease;
  flex: 1;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(37, 41, 46, 0.04);
}
.Disconnect .smallBoard .bottom .icons h3 {
  font-size: 14px;
  font-weight: 400;
}

.Cart {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2222;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  display: flex;
  transform: translateZ(0);
  will-change: opacity;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  perspective: 1000px;
  justify-content: flex-end;
  position: fixed;
  top: 60px;
}
.Cart .closeModal {
  display: flex;
  position: absolute;
  color: black;
  top: 15px;
  height: 30px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
  left: 0;
  right: 0;
  justify-content: flex-end;
  padding: 1rem 2rem;
}
.Cart .closeModal .blockie {
  opacity: 0.5;
}
.Cart .smallBoard {
  position: relative;
  opacity: 1;
  transform: none;
  outline: none;
  align-content: center;
  display: flex;
  flex-direction: column;
  background: rgba(146, 175, 237, 0.95);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(146, 175, 237, 0.25);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  width: min(100%, 300px);
  padding: 15px;
  padding-top: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.Cart .smallBoard .walletBal {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Cart .smallBoard .walletBal .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  gap: 1rem;
}
.Cart .smallBoard .userdetailsHead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Cart .smallBoard .userdetailsHead .conectedText p {
  font-size: 20px;
}
.Cart .smallBoard .head {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: -0.02em;
}
.Cart .smallBoard .text {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  opacity: 0.8;
}
.Cart .smallBoard .userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}
.Cart .smallBoard .userDetails .address,
.Cart .smallBoard .userDetails p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  opacity: 0.8;
}
.Cart .smallBoard .userDetails .address {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.Cart .smallBoard .userDetails .address .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  position: relative;
}
.Cart .smallBoard .userDetails .address .icons .clipboard {
  cursor: pointer;
}
.Cart .smallBoard .userDetails .address .icons a {
  display: flex;
}
.Cart .smallBoard .userDetails .address .icons span {
  font-size: 12px;
  position: absolute;
  top: -20px;
  white-space: nowrap;
  font-weight: 400;
  opacity: 0.8;
}
.Cart .smallBoard .userDetails .balance {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
.Cart .smallBoard .userDetails .balance > span {
  display: flex;
  gap: 4px;
}
.Cart .smallBoard .userDetails .balances {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.Cart .smallBoard .userDetails .balances > span {
  display: flex;
  gap: 4px;
}
.Cart .smallBoard .userDetails p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  white-space: nowrap;
}
.Cart .smallBoard button {
  border: none;
  color: white;
  background: black;
  padding: 0.65rem 2rem;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.Cart .smallBoard button:hover {
  background: #333;
}

.disconnect {
  display: block;
  cursor: pointer;
  color: white;
  font-weight: 400;
  border-radius: 5rem;
  font-size: 15px;
}/*# sourceMappingURL=WalletModal.module.css.map */