.container {
  display: flex; /* From https://css.glass */
  position: fixed;
  align-items: flex-start;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  backdrop-filter: blur(5px);
  p {
    font-weight: 700;
    color: #2fc0db;
    font-size: 0.6rem;
    padding: 0 .2rem;
  }
  .card {
    background: rgba(146, 175, 237, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.1px);
    -webkit-backdrop-filter: blur(15.1px);
    border: 1px solid rgba(146, 175, 237, 0.48);
    color: black;
    width: min(300px, 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    .link {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:active {
        scale: 0.9;
        color: aqua;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
